{% extends 'music/base.html' %}
{% block body %}

  <div class="container">
   <div class="row">
      {% for album in all_albums %}
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="{{ album.album_logo }}" alt="Card image cap" />
            <div class="card-block">
              <h4 class="card-title">{{ album.album_title }}</h4>
              <p class="card-text">{{ album.artist }}.</p>
              <a href="{% url 'detail' album.id %}" class="btn btn-primary">Detail View</a>
           <!-- This For Delete Album  -->
              <form action="{% url 'album-delete' album.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="album_id" value="{{ album.id }}" />
                <button type="submit" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </form>
           <!-- End Delete Album Form  -->
              <a href="{% url 'detail' album.id %}" class="btn btn-default"><span class="glyphicon glyphicon-star-empty"></span></a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
